body {
    width: 400px;
    height: 570px;
}

#filter-menu {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

#filter-menu label {
    border-bottom: 2px solid lightgray;
    text-align: center;
    width: 100%;
    height: 100%;
}

#filter-menu label:hover {
    border-bottom: 2px solid skyblue;
    transition: 0.5s;
}

#filter-menu input {
    display: none;
}

#filter-menu input:checked + label {
    background-color: skyblue;
}

#filter-list {
    width: 100%;
    overflow: hidden;
}

#filter-list .entry {
    display: block;
    padding: 5px 10px;
    border-top: 1px solid lightgray;
}

#filter-list .entry span {
    cursor: pointer;
}

#filter-list .entry .close-btn {
    cursor: pointer;
    display: inline;
    float: right;
}
