.ytcb-button {
    font-size: 1.4rem;
    padding: 12px 12px 12px 16px;
    cursor: pointer;
}

.ytcb-button:hover {
    background-color: var(--yt-spec-10-percent-layer);
}

.ytcb-icon {
    padding-left: 6px;
    padding-right: 19px;
}
